<footer class="center">
  <div class="measure">
        <small> by Christian Tai Udovicic<br></small>
        <a href="https://github.com/cjtu" class="fa fa-github-square"></a>
        <a href="https://twitter.com/TaiUdovicic" class="fa fa-twitter-square"></a>
        <a href="mailto:cj.taiudovicic@gmail.com" class="fa fa-envelope-square"></a>
        <a href="https://www.linkedin.com/in/christian-tai-udovicic/" class="fa fa-linkedin-square"></a>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
